.select {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  outline: none;
}

.select:focus {
  border-color: transparent;
  outline: 2px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .select {
    width: 150px;
  }
}
